<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brews'n</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <header class="nav">
          <h1>LETS GET BREWS'N</h1>
          <h2>YOUR ONE STOP BREWERY GUIDE</h2>
       </header>
          <div class="logo">
            <img src="/img/logo-img1.png"/> 
          </div> 
          <p>Welcome to Brews'n....you Brewery Search.  Created in 2026 this website will help you figure out where the party is going to be.  
            Enter in you city by name or Zip code to find you next brew haha journey.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate molestias a qui, doloribus quidem consequuntur esse hic 
            voluptas porro quasi, quas debitis dolor ducimus possimus neque repudiandae nemo quisquam perspiciatis?
          </p>
          <div class="search">
            <h2>Search by City or ZIP Code to get the party started</h2>
            <input class="search-input" type="text"/>
            <button class="button">SEARCH</button>
          </div>
    {{{body}}}
  </body>
</html>