<div class="hero-box">
  <h1 class="hero-text">LETS GET BREWS'N</h1>
  <h2>YOUR ONE STOP BREWERY GUIDE</h2>
  <p>Thirsty for adventure? Brews'n helps you discover craft breweries in your
    neighborhood and beyond—because the best beer is always the one you haven't
    tried yet. Whether you're chasing hazy IPAs or smooth stouts, your next
    great brew is just a search away. Created in 2026, this website will help
    you figure out where the party is going to be, so you can find your next
    brew haha journey.
  </p>
</div>

<div class="search">
  <h2>Search by City or ZIP Code to get the party started</h2>
  <div>
    <input class="search-input" type="text" />
    <button class="search-button">SEARCH</button>
  </div>
</div>
<div id="results" class="results-box">
  <ul class="results-list">
    <li>
      <div class="search-list-item">
        <div>
          <h2><a href="/search/1?bn=id">Brewery Name</a></h2>
          <br />
          <p>Brewery Address<br />City, State Postal</p>
        </div>
        <div>
          <button class="favorite-button" data-info="obd_id">🖤</button>
        </div>
      </div>
    </li>
  </ul>
</div>