<div class="hero-box">
  <h1 class="hero-text">LETS GET BREWS'N</h1>
  <h2>YOUR ONE STOP BREWERY GUIDE</h2>
  <p>Thirsty for adventure? Brews'n helps you discover craft breweries in your
    neighborhood and beyond—because the best beer is always the one you haven't
    tried yet. Whether you're chasing hazy IPAs or smooth stouts, your next
    great brew is just a search away. Created in 2026, this website will help
    you figure out where the party is going to be, so you can find your next
    brew haha journey.
  </p>
</div>

<div class="search">
  <h2>Search by City or ZIP Code to get the party started</h2>
  <div>
    <input
      class="search-input"
      id="searchInput"
      type="text"
      placeholder="Enter city or zip code"
    />
    <button class="search-button" id="searchButton">SEARCH</button>
  </div>
</div>
<div class="hero-results-box">
    <div id="results" class="results-box"></div>
</div>

</div>
<script src="/js/home.js"></script>