<div class="four-o-four">
  <h2>404 Page Not Found</h2>
  <p>Try these links to access breweries</p>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/login">Login Page</a></li>
  </ul>
</div>