.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter-font > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #d1ca98;
  color: black;
}

h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.7em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #021429;
}

a:hover {
  color: #ffb140;
}

.home-nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
  background-color: #b7b3a1;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgb(79, 79, 79);
}

.logo img {
  width: 250px;
}

.header-right {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 40px;
}

.hero-box p {
  width: 800px;
}

.hero-text {
  font-size: 4em;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1.2em;
}

.search-input {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(79, 79, 79);
  padding: 5px;
}

.search-button,
.login-button {
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(79, 79, 79);
  background-color: hsl(34, 100%, 50%);
  cursor: pointer;
}

.search-button:hover,
.login-button:hover {
  background-color: hsl(34, 100%, 40%);
}

.search-button:active,
.login-button:active {
  background-color: hsl(34, 100%, 60%);
}

.hero-results-box {
  margin-top: 40px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.results-box {
  align-content: center;
  margin: 10px;
  max-width: 800px;
  min-height: 500px;
}

.results-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
  width: 700px;
}

.single-hero-results-box {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.single-results-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
  max-width: 800px;
  min-height: 700px;
}

.list-item {
  padding: 10px;
  width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  background-color: #b7b3a1;
}

.list-item:hover {
  box-shadow: 0 0 5px #4f4f4f;
}

.favorite-button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.nav-links {
  padding-right: 40px;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 15px;
}

.login-section {
  min-height: 700px;
  padding: 20px 10px 20px 10px;
}

.form-group {
  padding: 10px 10px 10px 0;
}

.form-group input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(79, 79, 79);
  padding: 5px;
}

.login-footer {
  padding-top: 20px;
}

.logout-button {
  background-color: hsl(34, 100%, 50%);
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(79, 79, 79);
  width: 80px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  top: -8px;
}

.logout-button:hover {
  background-color: hsl(34, 100%, 40%);
}

.logout-button:active {
  background-color: hsl(34, 100%, 60%);
}

/* Heart mechanics */

.favorite-heart {
  display: none;
}

.favorite-button.is-favorited .no-favorite-heart {
  display: none;
}

.favorite-button.is-favorited .favorite-heart {
  display: inline;
}

/* Footer info */

footer {
  background-color: #b7b3a1;
  max-width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  box-shadow: 0 0 5px #4f4f4f;
}
